# Supabase
NUXT_PUBLIC_SUPABASE_URL=xxxxxxx
NUXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=xxxxxxx
SUPABASE_SECRET_KEY=xxxxxxx

# Google
GOOGLE_CLIENT_ID=xxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx

# crypto
TOKEN_ENCRYPTION_KEY=xxxxxxx

# Oura
OURA_CLIENT_ID=xxxxxxx
OURA_CLIENT_SECRET=xxxxxxx

# Toggl
TOGGL_API_TOKEN=xxxxxxx